.titulo{
    text-align: center;
    font-size: 40px;
    border-radius: 15px;
    
}

.meu-bg{
    background-color:#b2ddee;
}

.meu-card-body{
    text-align: justify;
    border-radius: 15px;
}

.meu-card{
    border-radius: 15px;
}

.meu-nav{
    background-color: #0896b3;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.meu-footer{
    background-color: #0896b3;
}

body{
    padding-top: 40px;
}

.img-banner{
    position: relative;
    height: 100vh;
}

